*{
    padding: 0px;
    margin: 0px;
}
.nav1{
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
    padding: 20px;
}
.p2{
    
    width:  30%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    color: rgb(14, 20, 25);
}
.s1{
background-color: beige;
border: 1px solid beige;
border-radius: 10px;
border
}
i{
    display: flex ;
 ju
    align-items: left;
}
